{
"singleQuote": true,
"semi": true,
"useTabs": false,
"tabWidth": 2,
"trailingComma": "all",
"bracketSpacing": true,
"jsxBracketSameLine": true,
"parser": "vue",
"requirePragma": true,
"endOfLine": "auto"
}
